@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

*{
	font-family: 'lato', sans-serif;
}
html{
	min-height: 100%;
  position: relative;
}
body{
	margin: 0;
}