@import "_general.css";

.cards {
  width: 97%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.cards .card {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid rgb(37, 150, 226);
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.number {
  font-size: 25px;
  font-weight: 450;
  color: #087cf4;
}
.card-name {
  color: #000000;
  font-weight: 600;
  margin-top: 10px;
}

/* Estilos para el combobox */
.combo-select {
  padding: 5px;
  border: 2px solid #087cf4;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  margin-right: 10px;
  max-width: 80px;
}

/* Estilos para el botón */
.btn-total-c {
  padding: 5px;
  background-color: #087cf4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-total-c:hover {
  background-color: #065c9a;
}

.label-combo {
  margin-top: 5px;
  display: flex;
}
.label-combo-m {
  margin-top: 5px;
  display: flex;
}

.label-c {
  width: 150px;
  margin-top: 6px;
}

/*media querys*/

@media (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .combo-select {
    width: 80px;
  }
  .label-combo {
    display: block;
  }
  .label-combo-m {
    display: block;
    margin-left: -50px;
  }
  .btn-total-m {
    margin-top: 10px;
  }
  .label-c {
    margin-top: 10px;
  }
  .combo-select-m {
    width: 250px;
  }
}

.container-g {
  margin-bottom: 20%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container {
  text-align: center; /* Alinea los elementos del formulario al centro */
}

.combo-select-m {
  padding: 5px;
  border: 2px solid #087cf4;
  border-radius: 5px;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  margin-right: 10px;
  max-width: auto;
}

.btn-total-m {
  padding: 5px;
  background-color: #087cf4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  height: 35px;
}

.btn-total-c:hover {
  background-color: #065c9a;
}

.graps {
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .graps {
    width: 100%;
    max-width: 300;
    height: auto;
  }

  .container-g {
    margin-bottom: 70%;
  }
}

#piechart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#piechart p {
  text-align: center;
}
